@tailwind base;
@tailwind components;
@tailwind utilities;


.max-w{
    max-width: 1240px;
    margin: auto;
}

.thumbs{
    display: flex;
    justify-content: center;
}

.CardField{
    border: solid red 3px;
}

 